/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */
*{
  color: black;
  background-color: lightgrey;
}
html{
font-family: "helvetica", helvetica , arial, sans-serif;
font-size: 23px;
line-height: 25px;
}

#my-head{
  padding-top: 3vw;
  padding-bottom: 3vw;
  text-align: center;
  display: grid;
  font-size: 22px;
  line-height: 22px;
  color: blue;
}
#header{
  padding-top: 3vw;
  text-align:center;
  font-size: 1.1em;
  background-color: #555;
  color: white;
}
#my-nav {
  font-family: Verdana, arial, helvetica, sans-serif;
  /* text-align: center; */
  font-size: 22px;
  line-height: 35px;

}
#my-nav li, a {
  background-color: grey;
  text-decoration: none;
  display: block;
  text-align: center;
}
#my-nav a:hover {
  background-color: #777;
}
#content{
padding-left: 50px;
padding-right: 20px;
padding-bottom: 25px;
padding-top: 20px;

}
#content-hobbies{
  padding-top: 3vw;
  padding-left: 25px;
  text-align: center;
}
#resume-head{
  padding-top: 3vw;
  text-align: center;
}
.toys img, figcaption {
  padding: 20px;
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-around;
  align-items: center;
  min-width: 50vw;
  max-width: 75vw;
}
footer{
  text-align: center;
  font-size: 15px;
  bottom: 0;
  background-color: #555;
  color: white;
  padding-bottom: 1.5vw;
  padding-top: 1.5vw;
}
@media screen and (min-width: 400px) {
  #my-nav ul{
    display: flex;
  }
  #my-nav li {
    flex: 1 0 auto;
  }
  .toys{
  display: flex;
  flex-flow: column-reverse;
  flex-wrap: wrap;
  align-items: center;
  }

  .toys img, .obj figcaption{
    min-width: 35vw;
    width: 35vw;
}
}
